#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0.5em;
  width: 500px;
  height: 500px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 1em;
}

#one {
  background: rgb(220, 0, 0);
  border-radius: 50%;
}

#two {
  background: rgb(0, 220, 0);
  opacity: 0.25;
  -webkit-animation: rotate infinite 2s ease;
          animation: rotate infinite 2s ease;
}

#three {
  background: rgb(0, 0, 220);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#three:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
